{
    "presets": [
        [
            "@babel/env",
            {
                "loose": true,
                "modules": false
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
    ],
    "env": {
        "commonjs": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        },
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    }
}
