{
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true
    },
    "plugins": ["react", "import", "prettier"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx"]
            }
        }
    },
    "rules": {
        "react/prop-types": 0,
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "tabWidth": 4,
                "printWidth": 100
            }
        ]
    }
}
